@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text--purple {
  color: #6415ff;
}

.container {
  padding: 80px 0;
}

/* NAV  */

nav {
  height: 120px;
  display: flex;
}

.nav__container {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-left: 44px;
  text-decoration: none;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: bold;
}

.nav__link--primary {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 32px;
  margin-left: 24px;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #3d02b1;
  transition: all 300ms ease;
}

.nav__link--color {
  color: white;
}

.nav__link--space {
  padding-left: 40px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
}

.logo__text {
  font-size: 24px;
  font-weight: bold;
  color: rgb(36, 62, 99);
  padding-left: 4px;
}

/* Header  */

header {
  height: calc(100vh - 120px);
  padding: 96px 0;
}

.header__container {
  display: flex;
  padding: 0 24px;
}

.header__description {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.input {
  max-width: 28rem;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.input__target {
  width: 100%;
  border: solid #dde4ee;
  border-radius: 9999px;
  border-width: 2px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 32px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 12rem;
  transition: all 300ms ease;
}

.get__started {
  right: 0;
  top: 6px;
  margin-right: 0.5rem;
  padding: 1rem 36px;
  background-color: #6415ff;
  border: none;
  border-radius: 9999px;
  position: absolute;
  cursor: pointer;
  color: #f7fafc;
  font-size: 16px;
  font-weight: 700;
}

.header__title {
  font-size: 36px;
  color: #1a202c;
  line-height: 1.25;
}

.header__para {
  font-size: 16px;
  color: #243e63;
  padding: 32px 0;
  line-height: 1.25;
}

.header__info {
  font-size: 12px;
  color: #a0aec0;
  padding: 56px 0 16px 0;
}

.trusted {
  opacity: 50%;
  width: 100%;
}

.header__img--wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
}

.header__img {
  width: 80%;
}

/* Services  */

#services {
  padding: 0 24px;
}

.services__header--2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.services__header--1 {
  font-size: 48px;
  color: #243e63;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.services__para {
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
  max-width: 576px;
  margin: 0 auto;
  line-height: 1.625;
}

.service__img {
  border: rgb(225, 225, 225) solid 1px;
  border-radius: 9999px;
  padding: 20px;
  text-align: center;
  width: 70px;
  height: 70px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  max-width: 1000px;
  margin: 0 auto;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 24px;
}

.service__description {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 16px;
}

.service__header {
  font-size: 24px;
  color: #243e63;
}

.service__para {
  margin-top: 16px;
  color: #7c8ba1;
  font-size: 16px;
  line-height: 2;
}

/* Work  */

#work {
  padding: 0 24px;
}

.work__description {
  width: 50%;
}

.work__header--2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.work__header--1 {
  font-size: 48px;
  color: #243e63;
  font-weight: bold;
  margin-bottom: 24px;
}

.work__para {
  font-size: 18px;
  color: #7c8ba1;
  text-align: left;
  line-height: 1.625;
}

.work__img--wrapper {
  width: 50%;
  display: flex;
}

.work__img {
  width: 100%;
  border: 1px solid rgb(222, 221, 221);
  border-radius: 4px;
}

.row__df {
  display: flex;
}

.work__button {
  background-color: #6415ff;
  margin-top: 32px;
  padding: 12px 32px;
  border-radius: 32px;
  border: none;
  color: white;
  font-weight: bold;
}

.work__button:hover {
  text-decoration: none;
  background-color: #3d02b1;
  transition: all 300ms ease;
}

/* Steps  */

#steps {
  padding: 0 24px;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
}

.steps__img {
  width: 100%;
  padding-top: 80px;
}

.steps__description {
  width: 50%;
  padding-left: 32px;
}

.step {
  display: flex;
  margin-bottom: 32px;
}

.step__header--2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.step__header--1 {
  font-size: 48px;
  color: #243e63;
  font-weight: bold;
  margin-bottom: 24px;
}

.step__number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: bold;
  padding-right: 16px;
}

.step__subtitle {
  font-size: 20px;
  color: #243e63;
  padding-bottom: 8px;
}

.step__para {
  font-size: 14px;
  color: #718096;
  line-height: 2;
}

/* Values  */

#values {
  padding: 0 24px;
}

.values__description {
  width: 50%;
}

.values__header--2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.values__header--1 {
  font-size: 48px;
  color: #243e63;
  font-weight: bold;
  margin-bottom: 24px;
}

.values__para {
  font-size: 18px;
  color: #7c8ba1;
  text-align: left;
  line-height: 1.625;
}

.values__sections {
  display: flex;
}

.values__section {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px 32px 0 0;
}

.value__subtitle {
  width: 100%;
  display: flex;
  align-items: center;
}

.value__subtitle--header {
  font-size: 20px;
  color: #243e63;
  margin-left: 12px;
  font-weight: bold;
}

.value__section--img1 {
  background-color: rgb(153, 241, 153);
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(26, 148, 26);
  font-size: 20px;
}

.value__subtitle--para {
  color: #718096;
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.625;
}

.value__section--img2 {
  background-color: rgb(243, 115, 115);
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(108, 6, 6);
  font-size: 20px;
}

.values__button {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 32px;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}

.values__img--wrapper {
  width: 50%;
  display: flex;
}

.values__img {
  width: 100%;
}

/* Pricing  */

#pricing {
  padding: 0 24px;
}

.plans__header--2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
  letter-spacing: 1px;
}

.plans__header--1 {
  font-size: 48px;
  color: #243e63;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.plans__para {
  font-size: 18px;
  color: #7c8ba1;
  text-align: left;
  line-height: 1.625;
  text-align: center;
  max-width: 576px;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.plan__header {
  border: 1px solid rgb(223, 221, 221);
  width: 90%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__top--green {
  position: absolute;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 90%;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__title {
  font-size: 20px;
  color: #1a202c;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
}

.plan__price {
  font-size: 48px;
  color: #1a202c;
  margin-top: 4px;
  font-weight: bold;
  text-align: center;
}

.plan__duration {
  color: #a0aec0;
  font-size: 16px;
  margin-top: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 32px;
  letter-spacing: 1px;
}

.plan__features {
  border: 1px solid rgb(223, 221, 221);
  width: 90%;
  text-align: center;
}

.plan__feature--main {
  font-size: 20px;
  color: #1a202c;
  text-align: center;
  padding-top: 32px;
}

.plan__feature {
  font-size: 16px;
  color: #718096;
  text-align: center;
  padding-top: 20px;
}

.plan__feature:last-child {
  padding-bottom: 32px;
}

.plan__buy {
  border: 1px solid rgb(223, 221, 221);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.plan__button--green {
  color: #f7fafc;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  padding: 16px 48px;
  border: none;
  border-radius: 9999px;
}

.plan__header--blue {
  border: 1px solid rgb(223, 221, 221);
  border-color: rgb(102 126 234);
  width: 90%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__title--white {
  font-size: 20px;
  color: #f7fafc;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
}

.plan__price--white {
  font-size: 48px;
  color: #f7fafc;
  margin-top: 4px;
  font-weight: bold;
  text-align: center;
}

.plan__duration--white {
  color: #edf2f7;
  font-size: 16px;
  margin-top: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 32px;
  letter-spacing: 1px;
}

.plan__features--blue {
  border: 1px solid rgb(223, 221, 221);
  border-color: rgb(102 126 234);
  width: 90%;
  text-align: center;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__feature--mainw {
  font-size: 20px;
  color: #f7fafc;
  text-align: center;
  padding-top: 32px;
}

.plan__feature--white {
  font-size: 16px;
  color: #e2e8f0;
  text-align: center;
  padding-top: 20px;
}

.plan__feature--white:last-child {
  padding-bottom: 32px;
}

.plan__buy--blue {
  border: 1px solid rgb(223, 221, 221);
  border-color: rgb(102 126 234);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.plan__button--white {
  color: rgb(100 21 255);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: rgb(247 250 252);
  padding: 16px 48px;
  border: none;
  border-radius: 9999px;
}

.plan__top--red {
  position: absolute;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 90%;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__button--red {
  color: #f7fafc;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  padding: 16px 48px;
  border: none;
  border-radius: 9999px;
}

/* Testimonials  */

#testimonials {
  padding: 0 24px;
}

.testimonials__img--wrapper {
  width: 50%;
  display: flex;
}

.testimonials__img {
  width: 100%;
}

.testimonials__description {
  width: 50%;
  margin-left: 64px;
}

.testimonials__header--2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
  letter-spacing: 1px;
  color: #6415ff;
}

.testimonials__header--1 {
  font-size: 48px;
  color: #243e63;
  font-weight: bold;
  margin-bottom: 24px;
}

.testimonials__para {
  font-size: 18px;
  color: #7c8ba1;
  text-align: left;
  line-height: 1.625;
  margin-bottom: 32px;
}

.testimonials__ratings {
  color: rgb(246 173 85);
  margin-bottom: 16px;
}

.testimonials__subtitle {
  font-size: 20px;
  color: #243e63;
  margin-bottom: 16px;
  font-weight: bold;
}

.testimonials__subtitle--para {
  font-size: 16px;
  color: #4a4468;
  margin-bottom: 40px;
  line-height: 1.625;
  font-weight: 500;
}

.testimonials__picture--mask {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials__picture {
  width: 100%;
}

.review__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.review__wrapper {
  display: flex;
  justify-content: center;
}

.review__arrows {
  display: flex;
  align-items: center;
}

.review__wrapper--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review__name {
  margin-left: 24px;
  font-size: 20px;
  color: #243e63;
  font-weight: bold;
}

.review__institue {
  margin-left: 24px;
  font-size: 16px;
  color: #7c8ba1;
}

.review__arrow {
  padding: 16px;
  border-radius: 9999px;
  margin: 0 12px;
  background-color: #e0e9f2;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: #6415ff;
}

/* Contact Us */

#contact__us {
  padding: 0 24px;
}

.contact__bar {
  background-color: #6415ff;
  display: flex;
  border-radius: 8px;
  padding: 0 32px;
  width: 100%;
}

.contact__text--wrapper {
  width: 50%;
  display: flex;
}

.contact__para {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 100px 20px;
}

.button__wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
}

.button--red {
  background-color: #f56565;
  color: white;
  padding: 20px 40px;
  border: none;
  margin-right: 32px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
}

.button--purple {
  background-color: #6415ff;
  color: white;
  padding: 20px 40px;
  border: 1px solid rgb(186, 186, 186);
  margin-right: 32px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
}

/* Footer  */

footer {
  background-color: #6415ff;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
}

.footer__header {
  color: #f7fafc;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.footer__links {
display: flex;
flex-direction: column;
align-items: center;
}

.footer__link {
  color: #f7fafc;
  font-size: 14px;
  text-decoration: none;
}

.footer__info {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.footer__logo--wrapper {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 32px;
  height: 32px;
}

.footer__logo--text {
  color: #f7fafc;
  font-size: 20px;
  margin-left: 8px;
  font-weight: bold;
}

.footer__copyright {
  color: #cbd5e0;
  font-size: 16px;
}

.footer__socials {
  display: flex;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  background-color: white;
  padding: 8px;
  border-radius: 9999px;
  height: 30px;
  width: 30px;
}

